.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.image {
    max-width: 100%;
}

.text-link {
    display: block;
    color: #F6AAB0;
    font-size: 36px;
}

@media screen and (min-width: 990px) {
    .container {
        max-width: 990px;
        margin: 0 auto;
        text-align: center;
    }
    .image {
        max-width: 720px;
    }
}
  
