.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 900px) {
    .container {
        max-width: 990px;
        margin: 0 auto;
        text-align: center;
    }
    .image {
        max-width: 720px
    }
}
  
